# Default ignored files
/shelf/
.idea/
*.class
*.log
*.cache
*.history
*.svg
*.html
diagrams.css
export
class_diagram.png
object_diagram.png
trait_diagram.png
type_diagram.png
.sbt-idea-lock
build.properties
copy-resources
data
*.css
*.js
input_dsp
inputs
*.eot
*.ttf
*.woff
out
output
output_dsp
*.gif
*.MF

previous


/target/
